* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */

  background-image: linear-gradient(to right, #c6ffdd, #ffff, #f7797d);
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container .left-side {
  background-color: #fff;
  flex: 1;
  padding: 20px 0 0 0;
}

.container .right-side {
  flex: 1;
}

.container .left-side .box {
  display: flex;
}

.container .left-side .box .list-item {
  padding: 0px 20px;
}

.container .left-side .box .list-item .item {
  padding: 13px 0;
}

.container .left-side .box .list-item .item img {
  cursor: pointer;
}

.container .left-side .box .controller-item {
  padding: 13px 20px 0;
  flex: 1;
}

.container .left-side .box .controller-item .box-search {
  display: flex;
  padding-bottom: 30px;
}

.container .left-side .box .controller-item .box-search img {
  cursor: pointer;
}

.container .left-side .box .controller-item .box-search input {
  margin-left: 10px;
  outline: none;
  border: none;
  width: 100%;
}
/* 
.container .left-side .box .controller-item .content {

  padding-top:10px;
} */

.container .left-side .box .controller-item .content .text-detail {
  padding: 10px 0 10px 0;
  font-size: 14px;
}

.container .left-side .box .controller-item .content .text-title {
  font-size: 40px;
}

.container .left-side .box .controller-item .content .item-container-play {
  padding: 10px 20px 10px 0;
}

.container
  .left-side
  .box
  .controller-item
  .content
  .item-container-play
  .list {
  display: flex;
  justify-content: space-between;
  margin: 13px 0;
}

.container
  .left-side
  .box
  .controller-item
  .content
  .item-container-play
  .list
  .left,
.right,
.right .wrap {
  display: flex;
  align-items: center;
}

.container
  .left-side
  .box
  .controller-item
  .content
  .item-container-play
  .list
  .left
  .avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}

.container
  .left-side
  .box
  .controller-item
  .content
  .item-container-play
  .list
  .right
  .wrap-heart {
  margin-right: 13px;
}
.container
  .left-side
  .box
  .controller-item
  .content
  .item-container-play
  .list
  .right
  .wrap
  .total {
  margin-left: 5px;
}

.container
  .left-side
  .box
  .controller-item
  .content
  .item-container-play
  .list
  .right
  .wrap
  img {
  cursor: pointer;
}

.container .left-side .box .controller-item .content .article {
  display: flex;
  padding: 10px 0;
}


.container .left-side .box .controller-item .content .article .item {
  position: relative;
  padding-right:20px;
}

.container .left-side .box .controller-item .content .article .item img {
  width:130px;
  height:120px;
  border-radius: 20px;
  object-fit: cover;
}

.container .left-side .box .controller-item .content .article .item .text {
  position: absolute;
  right: 50%;
  bottom: 10%;
  transform: translateX(50%);
}


.container .right-side {

}

.container .right-side img{
  width:100%;
}